**ASSIGNMENT 1**

***TASK 1***

In [1]:
import pandas as pd
import numpy as np

In [37]:
df = pd.DataFrame(np.random.randn(4,4))
df

          0         1         2         3
0  0.021816 -0.851024 -0.986893 -2.074193
1  0.070130  0.528570  0.836415  1.695050
2 -0.871839  1.753324  1.441566 -0.430205
3 -1.341458  0.035675  0.538033  0.246991

***TASK 2***

In [39]:
new_column_names = {0: 'Random value 1',
                    1: 'Random value 2',
                    2: 'Random value 3',
                    3: 'Random value 4'}

df.rename(columns=new_column_names, inplace=True)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.021816       -0.851024       -0.986893       -2.074193
1        0.070130        0.528570        0.836415        1.695050
2       -0.871839        1.753324        1.441566       -0.430205
3       -1.341458        0.035675        0.538033        0.246991

In [42]:
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.021816       -0.851024       -0.986893       -2.074193
1        0.070130        0.528570        0.836415        1.695050
2       -0.871839        1.753324        1.441566       -0.430205
3       -1.341458        0.035675        0.538033        0.246991

or

In [41]:
df1 = df.set_axis(['Random value 1','Random value 2','Random value 3','Random value 4'],axis=1)
df1

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.021816       -0.851024       -0.986893       -2.074193
1        0.070130        0.528570        0.836415        1.695050
2       -0.871839        1.753324        1.441566       -0.430205
3       -1.341458        0.035675        0.538033        0.246991

***TASK 3***

In [45]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean        -0.530337        0.366636        0.457280       -0.140589
std          0.692814        1.086486        1.033557        1.564448
min         -1.341458       -0.851024       -0.986893       -2.074193
25%         -0.989243       -0.186000        0.156802       -0.841202
50%         -0.425011        0.282122        0.687224       -0.091607
75%          0.033895        0.834758        0.987702        0.609006
max          0.070130        1.753324        1.441566        1.695050

***TASK 4***

In [49]:
# CHECKING THE NULL VALUES
df.isnull().sum() # gives the sum of null values in each column

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [50]:
df.isnull().any() # False if no values are null else True

Random value 1    False
Random value 2    False
Random value 3    False
Random value 4    False
dtype: bool

In [51]:
# CHECKING THE DATATYPES
df.info() # every column is float64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

***TASK 5***

In [58]:
# USING LOCATION METHOD
df.loc[:,'Random value 2':'Random value 3']

   Random value 2  Random value 3
0       -0.851024       -0.986893
1        0.528570        0.836415
2        1.753324        1.441566
3        0.035675        0.538033

In [59]:
# using INDEX LOCATION METHOD
df.iloc[:,1:3]

   Random value 2  Random value 3
0       -0.851024       -0.986893
1        0.528570        0.836415
2        1.753324        1.441566
3        0.035675        0.538033